<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<log4net debug="false">
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="D:\\Error-Log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="2MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<priority value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="SourcePath" value="\\192.168.0.79\db_Scb_tmp\Regla\Common\COREFILE\" />
		<add key="CommonConnectionString" value="Lm1NZPAItt/LUJNEStdALgLVoM93nA/RoIUqsb3jQxEg7IKr+UUWtuzF87xi+RQduLPGYw237XNLqKNmuZfHww+uVXrDjtu1uriafT307EzpIOE3KWP+g3P29EvheTMNMIjmOH7BDLfu1E02grd8CcC/YbHzWWG0xXmOPrupbFbr4xJkMg/kUO+q99saO9cK" />
		<add key="TargetPath" value="\\192.168.0.79\db_Scb_tmp\Regla\CopyTo\COREFILE\" />
		<add key="FormatPeriod" value="yyyyMMdd" />
		<add key="times" value="12;13;14" />
		<add key="moveTimes" value="9;11;14" />
		<add key="IsOverwrite" value="true" />
		<add key="DateConfig" value="0" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>